.rcorners2 {
    border-radius: 25px;
   
}

body{
	background-image: url("smoke.jpg");
	color: lightblue;
}

/*.marginrimg{
	 border-left: 30px;
	 border-right: 30px;
	  border-top: 30px;
}*/

/*.detailpicbox{
	box-sizing: border-box;
	width: 300px;
    height: 100px;
    padding: 30px;  
}
*/
.detailfont{
	color: lightblue;
	font-size: 70px;
}

h1{
	font-size: 80px;
}

p{
	font-size: 40px;
}

